<div class="container-fluid" style="background-color: #007bff;" [style.height.px]="height">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6 col-md-offset-6" style="margin-top: 100px;">
            <div style="background-color: #ffffff;padding: 25px;">


                <mat-form-field class="formFieldWidth">
                    <input type="email" style="color: #2962FF; padding:5px;" matInput [formControl]="EmailID"
                        autocomplete="off" placeholder="Email ID" required>
                    <mat-error *ngIf="EmailID.invalid" class="invalid-feedback">
                        <strong>{{ get_Email_ID_Error() }}</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="formFieldWidth">
                    <input type="password" style="color: #2962FF; padding:5px;" matInput [formControl]="Password"
                        autocomplete="off" placeholder="Password" required>
                    <mat-error *ngIf="Password.invalid" class="invalid-feedback">
                        <strong>{{ get_Password_Error() }}</strong>
                    </mat-error>
                </mat-form-field>

                <div style="margin-top: 20px;margin-left: 360px;">
                    <button mat-raised-button class="btn btn-primary" color="primary" (click)="onSubmit()">Login</button>
                    <mat-progress-spinner [diameter]="30" mode="indeterminate" class="loadingStyleCustom" style="left: 45%;"
                        [style.display]="display"></mat-progress-spinner>
                    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                </div>


            </div>
        </div>
    </div>
</div>