.application_name{
    color: #E3F2FD;
    font-size: 18px;
    margin: 5%;
    margin-right: 65%;
}
.user_name{
    color: #E3F2FD;
    font-size: 18px;
    margin-right: 3%;
}
.logoff_button{
    background-color: #0D47A1;
    font-weight: bolder;
    border-radius: 18px;
    border: 1px solid #000000;
}

.log_text{
    color: #ffffff;
}
.edit_icon{
    cursor: pointer;
    color: #FF9800;
}
.delete_icon{
    cursor: pointer;
    color: #F44336;
}